body {
  background-color: black;
  filter: invert(1);
  font-family: Helvetica, Arial, sans-serif;
  margin: 1em auto;
  width: 50%;
}

canvas {
  border: 1px solid black;
  cursor: crosshair;
  display: inline;
}

#canvas-section {
  text-align: center;
  width: 100%;
}

#config-section label:has(input[type='range']) {
  align-items: center;
  display: flex;
}

#generation {
  grid-area: gen;
}

h3 {
  background-color: grey;
  border-radius: .5em;
  cursor: pointer;
  padding: .5em;
  margin: 0;
}

p {
  display: grid;
  grid-template-areas: '. . pop . gen . .';
}

#population {
  grid-area: pop;
}

section {
  margin-bottom: .5em;
}

#size-output,
#speed-output {
  margin-left: .5em;
}

ul {
  display: none;
}