body {
  background-color: black;
  filter: invert(1);
  font-family: Helvetica, Arial, sans-serif;
  margin: 1em auto;
  width: 50%;
}

canvas {
	border: 1px solid black;
}

section {
  margin-bottom: .5em;
}

#config-section label:nth-child(1) {
  align-items: center;
  display: flex;
}